<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @admin.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @admin.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin.description %>
</p>
<p>
  <strong>Upload File:</strong>
  <%= form_for Resource.new, url: '/resources' do |f| %>
    <%= f.label(:file_name, "File Name:") %>
    <%= f.text_field(:file_name) %>
    <%= f.label(:category, "Category:") %>
    <%= f.text_field(:category) %> <br>
    <%= f.file_field 'file' %> <br>
    <%= f.submit 'Submit' %>
  <% end %>
</p>
<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>

