<%= form_with(model: veteran, local: true) do |form| %>
  <% if veteran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(veteran.errors.count, "error") %> prohibited this veteran from being saved:</h2>

      <ul>
      <% veteran.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :veteran_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :veteran_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :veteran_email %>
  </div>

  <div class="field">
    <%= form.label :on_connect %>
    <%= form.check_box :on_connect, id: :veteran_on_connect %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
