<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @veteran.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @veteran.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @veteran.email %>
</p>

<p>
  <strong>On connect:</strong>
  <%= @veteran.on_connect %>
</p>

<%= link_to 'Edit', edit_veteran_path(@veteran) %> |
<%= link_to 'Back', veterans_path %>
