<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @resource.fileName %>
</p>

<p>
  <strong>File:</strong>
  <%= @resource.file %>
</p>

<p>
  <strong>Category:</strong>
  <%= @resource.category %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
