<p id="notice"><%= notice %></p>

<h1>Partnering Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Website</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Category</th>
      <th>Demographic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partnering_organizations.each do |partnering_organization| %>
      <tr>
        <td><%= partnering_organization.name %></td>
        <td><%= partnering_organization.phone_number %></td>
        <td><%= partnering_organization.website %></td>
        <td><%= partnering_organization.address %></td>
        <td><%= partnering_organization.latitude %></td>
        <td><%= partnering_organization.longitude %></td>
        <td><%= partnering_organization.category %></td>
        <td><%= partnering_organization.demographic %></td>
        <td><%= link_to 'Show', partnering_organization %></td>
        <td><%= link_to 'Edit', edit_partnering_organization_path(partnering_organization) %></td>
        <td><%= link_to 'Destroy', partnering_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partnering Organization', new_partnering_organization_path %>
