<p id="notice"><%= notice %></p>

<%= react_component("PartneringOrganizationProfile", {partneringOrganization: current_partnering_organization, all_resources: @all_resources}) %>
 <!--
#    <strong>Upload File:</strong>
#     <%= form_for Resource.new, url: '/resources' do |f| %>
#       <%= f.label(:file_name, "File Name:") %>
#       <%= f.text_field(:file_name) %>
#       <%= f.label(:category, "Category:") %>
#       <%= f.text_field(:category) %> <br>
#       <%= f.file_field 'file' %> <br>
#       <%= f.submit 'Submit' %>
#     <% end %> -->

