<!DOCTYPE html>
<html>
  <head>
    <title>V360</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if admin_signed_in? %>
      <button>
        <%= link_to('Admin Logout', destroy_admin_session_path, method: :delete) %>
      </button>
    <% else %>
       <% if not partnering_organization_signed_in? %>
        <button>
          <%= link_to('Admin Login', new_admin_session_path) %>
        </button>
      <% end %>
    <% end %>
    <% if partnering_organization_signed_in? %>
      <button>
        <%= link_to('Partnering Organization Logout', destroy_partnering_organization_session_path, method: :delete) %>
      </button>
    <% else %>
      <% if not admin_signed_in? %>
        <button>
          <%= link_to('Partnering Organization Login', new_partnering_organization_session_path) %>
        </button>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
